bin
CMakeCache.txt
cmake_install.cmake
*.out
*.log
*.pcm
Makefile
CMakeFiles
.vs
Debug
Release
x64

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vscode
.idea
/Release